/* embedded fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden !important;
}
body{
    position: relative;
    font-family: 'Poppins', sans-serif;
}
.scrollTop{
    position: fixed;
    z-index: 500;
    bottom: 800px;
    right: 40px;
    width: 60px;
    height: 60px;
    background-color: #ffb400;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease;
}
.scrollTop.active{
    bottom: 40px;
    visibility: visible;
    opacity: 1;
}

/* ============================ */
/* Navigation Bar Styling */
/* ============================ */
nav{
    padding: 0rem 3rem !important;
    background: #fff;
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    color: #3e1364;
}
nav .nav-item{
    cursor: pointer;
}
nav .nav-item:hover{
    border-bottom: 1px solid #ffb400;
}
nav .nav-link{
    color: #3e1364 !important;
    margin: 0 0.5rem !important;
    outline: none !important;
}
nav .nav-item.active .waves-light{
    background: white !important;
    font-weight: bold;
    color: #ffb400 !important;
}
nav img{
    width: 180px;
}

/* ============================ */
/* Landing Page Styling */
/* ============================ */
.landing-page{

}
.landing-page [class*=col-]{
    margin: 0 !important;
    padding: 0 !important;
    padding-top: 10vh !important;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white !important;
}

 /* left part of page */

.landing-page [class*=col-]:first-child{
    background: url("../assets/backgrounds/landing-back.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.landing-page [class*=col-]:first-child:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: 0.65;
}
.landing-page .content{
    width: 80%;
    margin: auto;
    position: relative;
    z-index: 1;
}
.landing-page .content h1{
    padding: 0 1rem;
    border-left: 10px solid;
    color: #fff !important;
    font-size: 60px;
    font-family: 'Rubik', sans-serif !important;
}
.landing-page .content p{
    margin: 1.5rem 0 !important;
    color: #fff !important;
    font-size: 20px;
}
.landing-page .content .landing-link{
    border: 1px solid #fff;
    padding: 0.8rem 2rem;
    outline: none !important;
    cursor: pointer;
    max-width: 180px;
    text-align: center;
    position: relative;
    /* overflow: hidden; */
}
.landing-page .content .landing-link:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 100%;
    background: white;
    transition: 0.5s ease;
}
.landing-page .content .landing-link:hover:after{
    right: 0;
}
.landing-page .content .landing-link a{
    text-decoration: none;
    color: white;
    position: relative;
    z-index: 2;
}
.landing-page .content .landing-link:hover a{
    color: black;
}

/* right part of page */
.landing-page [class*=col-]:last-child{
    /* border: 10px solid rgba(0, 0, 0, 0.65); */
    border-left: none;
    color: #3e1364;
}
.landing-page .content-right{
    width: 80%;
    margin: auto;
}
.landing-page .content-right h1{
    font-family: 'Rubik', sans-serif !important;
    margin-bottom: 2rem;
    color: #3e1364 !important;
}
.landing-page .content-right ul *{
    /* border: 1px solid; */
}
.landing-page .content-right ul li{
    list-style-type: none;
    border-left: 8px solid #ffb400;
    padding: 0 !important;
    margin: 1rem 0.2rem !important;
    position: relative;
    left: 500px !important;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #3e1364;
    visibility: hidden;
    opacity: 0;
    transition: 1s ease;
}
.landing-page .content-right ul li img{
    width: 20% !important;
    height: 100%;
    padding: 0rem 0.8rem;
    opacity: 0.8;
}
.landing-page .content-right ul li div{
    width: 80%;
    padding: 0.5rem;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.landing-page .content-right ul li h5{
    font-size: 16px;
    margin: 0;
    margin-bottom: 0.2rem;
}
.landing-page .content-right ul li p{
    font-size: 14px;
    margin: 0;
}


/* ============================ */
/* project quote Styling */
/* ============================ */
.project-quote{
    padding: 50px 100px;
    position: relative;
    overflow: hidden;
}
.project-quote:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url("../assets/backgrounds/brick-outline-png.png");
    background-size: 50%;
    background-position: bottom left;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    z-index: -1;
    opacity: 0.8;
}
.project-quote [class*=col-]{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid; */
}
.project-quote h1{
    font-family: 'Rubik', sans-serif !important;
    margin: 0 !important;
    color: #3e1364;
}
.project-quote .quote-link{
    border: 3px solid #ffb400;
    padding: 1rem 2rem;
    text-align: center;
    cursor: pointer !important;
    transition: 0.5s ease;
}
.project-quote .quote-link:hover{
    background: #ffb400;
}
.project-quote .quote-link:hover a{
    color: #3e1364;
}
.project-quote .quote-link a{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #815a00;
    font-weight: 900 !important;
}

/* ============================ */
/* Strategic Focus Styling */
/* ============================ */
.strategic-focus{
    padding: 100px !important;
    box-shadow: 0 -20px 50px 0 rgba(0, 0, 0, 0.3);
}
.strategic-focus h1{
    font-family: 'Rubik', sans-serif !important;
    color: #3e1364;
}
.strategic-focus hr{
    border: 5px solid #7426b8;
    background: #7426b8;
    width: 50px;
    margin: 2rem auto;
    margin-bottom: 5rem;
}

/* style cards */
.strategic-focus .card{
    border: none;
    border-radius: 0px;
    background: #ffffff;
    box-shadow:  5px 5px 20px #c7c7c7,
                 -5px -5px 20px #ffffff;
    padding: 0 !important;
    width: 100%;
    height: 100%;
    margin: auto;
    cursor: pointer;
    transition: 0.5s ease;
}
.strategic-focus .card:hover{
    transform: scale(1.05);
}
.strategic-focus .card .card-header{
    padding: 0 !important;
}
.strategic-focus .card .card-header img{
    width: 100%;
    height: 100%;
}
.strategic-focus .card .card-body{
    padding: 0;
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.strategic-focus .card p{
    width: 80%;
    font-size: 16px;
}

/* ============================ */
/* About Us Styling */
/* ============================ */

.about_us_background{
    background-image: url("../assets/backgrounds/about-us-back.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    position: relative;
}
.about_us_background:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
}
.about_us .heading h2{
    font-family: 'Rubik', sans-serif !important;
    width: 80%;
    margin-bottom: 3rem;
    color: #3e1364;
}
.about_us .about-us-text{
    font-size: 14px;
    color: #3e1364;
}

.about_us_written{
    padding-top: 50px;
    background-color: #f7f7f7;
    text-align: justify;
    font-size: smaller;
    color: #3e1364;
}
.about_us_written hr{
    width: 30px;
    margin: 2rem auto;
}
.about_us .collaborators h5{
    font-family: 'Rubik', sans-serif !important;
    font-weight: 900;
    margin: 2rem auto 1rem auto;
    color: #3e1364;
}
.about_us .collaborators hr{
    border: 3px solid #7426b8;
    margin: 0 auto 2rem auto !important;
}
.about_us .collaborators [class*=col-]{
    padding: 0 !important;
    margin: 0.5rem;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}
.about_us .collaborators [class*=col-] img{
    width: 100%;
}
.body{
    color:#666;
}
.about_us .years_established,
.about_us .projects_completed{
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white !important;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 16px;
}
.about_us .years_established *,
.about_us .projects_completed *{
    margin: 0;
    padding: 0;
}
.about_us span{
    font-size: 25px;
}
.about_us .yellowblock{
    background-color: #ffb400;
    color: #3e1364 !important;
}
.about_us .blackblock{
    background-color: #3e1364;
}

/* ============================ */
/* Our Services Styling */
/* ============================ */
.our-services{
    padding: 100px;
    padding-bottom: 50px;
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.2);
}
.our-services h1{
    font-family: 'Rubik', sans-serif !important;
    color: #3e1364;
}
.our-services hr{
    border: 5px solid #7426b8;
    background: #7426b8;
    width: 50px;
    margin: 2rem auto;
    margin-bottom: 3rem;
}
.our-services .mdb-lightbox p{
    color: #3e1364;
    margin: 0.5rem 0 2rem 0;
    padding: 1rem 0;
    position: relative;
    font-size: 14px;
}
.our-services .mdb-lightbox p:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 100%;
    border-bottom: 5px solid #ffb400;
    transition: 0.5s ease;
}
.our-services .mdb-lightbox figure:hover p:after{
    width: 50%;
}


/* ============================ */
/* Vision & Mission Styling */
/* ============================ */
.vision-mission{
    padding: 100px;
}
.vision-mission h1{
    font-family: 'Rubik', sans-serif !important;
    color: #3e1364;
}
.vision-mission hr{
    border: 5px solid #7426b8;
    width: 50px;
    margin: 2rem 0;
    margin-bottom: 3rem;
}
.vision-mission .card{
    position: relative;
    background: #eee;
    text-align: center;
    margin-bottom: 2rem;
}
.vision-mission .card .icon-img{
    background: red;
    height: 100px;
    width: 50%;
    margin: 0 auto;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 100%, 0 50%);
    position: relative;
}
.vision-mission .card .icon-img i{
    color: white;
    font-size: 40px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.vision-mission .card h3{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 900 !important;
    margin: 2rem 0;
    position: relative;
    padding-bottom: 0.5rem;
}
.vision-mission .card h3:after{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 100px;
    height: 100%;
    transform: translate(-50%);
    border-bottom: 3px solid;
}
.vision-mission .card p{
    font-size: 14px;
    text-align: justify;
    padding: 0 2rem;
    color: #3e1364;
}
/* styling individual cards */
.vision-mission .card.one .icon-img{
    background: #ffb400;
}
.vision-mission .card.one h3{
    color: #ffb400;
}
.vision-mission .card.one h3:after{
    border-color: #ffb400;
}
.vision-mission .card.two .icon-img{
    background: #7426b8;
}
.vision-mission .card.two h3{
    color: #7426b8;
}
.vision-mission .card.two h3:after{
    border-color: #7426b8;
}
.vision-mission .card.three .icon-img{
    background: #363636;
}
.vision-mission .card.three h3{
    color: #363636;
}
.vision-mission .card.three h3:after{
    border-color: #363636;
}

/* ============================ */
/* Testimonials Styling */
/* ============================ */
.testemonials{
    padding: 100px;
    min-height: 50vh;
    /* box-shadow: 0 -20px 50px 0 rgba(0, 0, 0, 0.3); */
    background: url("../assets/backgrounds/testemonials-back.jpg");
    background-size: cover;
    background-position: bottom;
    position: relative;
}
.testemonials:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.7;
}
.testemonials .content {
    position: relative;
    z-index: 1;
}
.testemonials .content h1{
    color: white;
    font-family: 'Rubik', sans-serif !important;
    margin: 0;
    padding: 0;
}
.testemonials .content p{
    color: whitesmoke;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
.testemonials .content hr{
    border: 5px solid #fff;
    width: 50px;
    margin: 2rem auto;
    margin-bottom: 3rem;
}
.testemonials .content .card{
    border: 0 !important;
    border-radius: 0 !important;
    background: whitesmoke;
    padding: 1rem;
    padding-bottom: 70px;
    position: relative;
    margin-bottom: 10px;
    width: 100%;
}
.testemonials .content .card .star{
    margin-top: 15px;
    margin-bottom: 1rem;
}
.testemonials .content .card .star i{
    color: #ffb400;
    font-size: 20px;
}
.testemonials .content .card p{
    color: #3e1364;
    font-size: 14px;
    font-style: italic;
    margin: 1rem 0;
}
.testemonials .content .card h3{
    color: #666;
    text-transform: uppercase;
    font-size: 20px;
    width: 100%;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%);
}

/* ============================ */
/* Contact Us Styling */
/* ============================ */

.contact-us .yellowblock{
    background-color: #ffb400;
    color: #3e1364 !important;
}
.contact-us h2{
    font-family: 'Rubik', sans-serif !important;
    color: #3e1364;   
    margin-bottom: 2rem;
    text-align: center;
}
.contact-us .yellowblock [class*=col-]{
    padding: 0;
    margin: 0;
}
.contact-us input{
    border-radius: 3px !important;
    padding: 0.5rem 1rem !important;
    font-size: 16px !important;
    border: 1px solid white;
}
.contact-us textarea{
    resize: none !important;
    font-size: 16px !important;
    padding: 1rem;
    border: 1px solid white;
}
.contact-us input::placeholder,
.contact-us textarea::placeholder{
    color: #aaa;
}
.contact-us input:focus,
.contact-us textarea:focus{
    outline: none;
    box-shadow: none;
    border: 1px solid #3e1364;
}
.contact-us button{
    border: 2px solid #3e1364;
    color: #3e1364 !important;
    box-shadow: none;
    margin-top: 1rem !important;
    border-radius: 3px !important;
    font-size: 14px;
}
.contact-us button:hover{
    box-shadow: none;
}
.contact-us .blackblock{
    background: #3e1364;
    min-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-us .blackblock i{
    margin: 1rem;
    font-size: 20px !important;
    color: white !important;
}
.contact-us .contact_info{
    padding: 75px !important;
}
.contact-us .contact_info li{
    list-style-type: none;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
}
.contact-us .contact_info li i{
    font-size: 25px;
    margin-right: 10px;
    color: #3e1364;
}
.contact-us .margined{
    margin-top: 3rem;
    margin-bottom: 4rem;
}
.submitform{
    display: flex;
    justify-content: right;
}


/* ============================ */
/* Footer Styling */
/* ============================ */
footer{
    background: #1e0930;
    padding: 0.5rem;
}
footer *{
    margin: auto;
    padding: 0;
}
footer p{
    color: white;
}
footer i{
    color: #ddd;
    font-size: 20px;
    margin: 0.5rem;
    transition: 0.5s ease;
    cursor: pointer;
}
footer i:hover{
    color: #ffb400;
}

/* ============================ */
/* clients Styling */
/* ============================ */
.client{
    padding: 100px;
    position: relative;
}
.client:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #ffb400;
    opacity: 0.1;
}
.client h1{
    font-weight: 900;
    font-family: 'Rubik', sans-serif !important;
    margin-bottom: 1rem;
    color: #3e1364;
}
.client p{
    font-size: 16px;
    color: #666;
    margin-bottom: 2rem !important;
}
.client hr{
    border: 5px solid #7426b8;
    background: #7426b8;
    margin: 0 !important;
    width: 40%;
}
.client .slider-btn1 {
    width: 50%;
    margin: 1rem 0 !important;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start !important;
}
.client .slider-btn1 span{
    border: none;
    padding: 0 !important;
    box-shadow: none;
    margin: 0 !important;
    margin-right: 1rem !important;
}
.client .slider-btn1 span i{
    font-size: 25px;
    color: #3e1364;
}
.client *{
    margin: auto !important;
}
.client [class*=slider-]{
    padding: 1rem 0;
}
.client [class*=slider-] #slider-div{
    padding: 1rem 0;
}
.client [class*=slider-] #slider-div img{
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 90%;
}