/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;800&display=swap');

/* variables */
:root{
    --body-font: 'Maven Pro', sans-serif;
    --yellow-color: #fe9f4b;
    --purple-color: #4b2f60;
    --dark-color: #222;
    --gray-color: #ddd;
}

/* global styles */
body, html{
    min-height: 200vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: var(--body-font);
}

.a,
a:hover,
a:focus,
button,
button:hover,
button:focus,
.form-control{
    box-shadow: none !important;
    outline: none !important;
    text-decoration: none;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    padding: 100px 0;
}

.heading{
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: -1px;
    text-align: center;
    position: relative;
    z-index: 2;
}
.heading span{
    font-weight: 800;
}
.line{
    max-width: 150px;
    height: 5px;
    background: var(--purple-color);
    margin: 2rem auto;
    position: relative;
    border-radius: 5px;
    z-index: 2;
}
.line .circle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25px;
    height: 25px;
    background: white;
    border: 5px solid var(--purple-color);
    border-radius: 50%;
}

/* ===================================================================== */
/* styling navbar */
/* ===================================================================== */

nav{
    background: white;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000 !important;
    padding: 0 100px !important;
}
/* navbar brand */
nav img{
    max-width: 130px !important;
}
/* links */
nav .nav-item{
    margin-left: 1rem;
}
nav .nav-link{
    color: var(--purple-color) !important;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.9rem;
}
nav .nav-link:hover{
    color: var(--yellow-color) !important;
}

/* dropdown */
nav .dropdown-menu{
    border-radius: 0 !important;
    background: var(--dark-color);
    display: block !important;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    padding: 1rem;
    min-width: 200px;
    top: 80px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease;
}
nav .dropdown-menu.show{
    top: calc(100% + 1rem);
    visibility: visible;
    opacity: 1;
}
nav .dropdown-menu a{
    color: var(--gray-color);
    padding: 0.5rem;
    font-size: 0.9rem;
}
nav .dropdown-menu a:hover{
    background: none;
    color: var(--yellow-color);
}

/* ===================================================================== */
/* style hero section */
/* ===================================================================== */
.hero{
    /* margin-top: 50px; */
}
/* video */
.video{
    width: 100%;
    position: relative !important;
    height: 100vh;
}
.video img{
    height: 100%;
    width: auto;
}
.video video{
    width: 100%;
    display: none;
}
.video button{
    position: absolute !important;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 80px;
    transform: translate(-50%, -50%);
    background: #4b2f60bd;
    color: white;
    border: none;
    font-size: 2rem;
    padding: 1rem;
}
.contactus h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
    font-weight: 800;
}
.contactus h2:after{
    content: '';
    position: absolute;
    width: 70px;
    height: 7px;
    background: white;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
}
.contactus{
    position: relative;
    min-height: 80vh;
    background: url("../assets/backgrounds/service.png") center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.contactus::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.7;
}

/* ===================================================================== */
/* style aboutus */
/* ===================================================================== */
.aboutus{
    text-align: center;
}
.aboutus h2{
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: var(--dark-color);
}
.aboutus p{
    color: var(--dark-color);
    text-align: justify;
    margin: 1.5rem 0;
}
.aboutus h5{
    margin: 2rem 0 1.5rem 0;
}
.aboutus img{
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    margin: 0.5rem;
}
.aboutus a{
    background: var(--purple-color);
    color: white;
    padding: 0.8rem 1rem;
    border-radius: 3px;
    transition: background 0.2s ease;
}
.aboutus a:hover{
    background: var(--yellow-color);
    color: var(--dark-color);
}

/* ===================================================================== */
/* our cervices */
/* ===================================================================== */
.services{
    padding: 100px;
    background: url("../assets/backgrounds/service.png") center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.services:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.6;
}

.services .heading{
    color: white !important;
}

.services .card-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    margin-top: 5rem !important;
}
.services .card-wrapper .card{
    border-radius: 0;
    border: none;
    background: rgba(255, 255, 255, 0.8);
    border: 5px solid rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    text-align: center;
    cursor: pointer;
    transition: background 0.5s ease;
}
.services .card-wrapper .card:hover{
    background: rgba(255, 255, 255, 0.5);
}
.services .card-wrapper .card i{
    font-size: 3rem;
}
.services .card-wrapper .card p{
    margin-top: 2rem;
    font-size: 1.2rem;
    font-weight: 600;
}
.individual{
    padding: 100px;
    padding-bottom: 0 !important;
}
.individual .col-flex{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.individual h2{
    text-transform: capitalize;
    font-weight: 800;
    margin: 0 0 1rem 0;
}
.individual img{
    width: 70%;
}
.individual a{
    border-left: 5px solid var(--yellow-color);
    padding: 0.25rem 0.5rem;
    color: var(--yellow-color);
    transition: 0.5s ease;
    margin-bottom: 1rem;
}
.individual a:hover{
    background: var(--yellow-color);
    color: white;
}
.individual .left .flex-center{
    justify-content: flex-end;
}
.individual .right .flex-center{
    justify-content: flex-start;
}

/* ===================================================================== */
/* benifits */
/* ===================================================================== */
.benifits{
    padding: 100px !important;
}
.benifits .card-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    padding: 1rem;
}
.benifits .card{
    border-radius: 0;
    border: none;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    padding: 1rem;
    font-family: var(--body-font);
    font-size: 1.1rem;
    font-weight: 500;
}

/* ===================================================================== */
/* wanted */
/* ===================================================================== */
.wanted{
    padding: 100px ;
}
.wanted .card-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 1rem;
}
.wanted .card-wrapper .card{
    max-width: 230px;
    border-radius: 0;
    border: none;
    box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.1);
    padding: 1rem;
    font-family: var(--body-font);
    font-size: 1.1rem;
    margin-bottom: 2rem;
    border: 1px solid #ddd;
}

/* ===================================================================== */
/* strategy */
/* ===================================================================== */
.strategy{
    padding: 100px;
}
.strategy .line{
    background: var(--yellow-color) !important;
}
.strategy .line .circle{
    border-color: var(--yellow-color) !important;
}
.strategy .row{
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
}
.strategy .row .column {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
    max-width: 50%;
}
.strategy .row .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}
.strategy .row .column .h-80{
    margin: 0 3rem !important;
}
.strategy .row .column .h-20{
    /* height: 20% !important; */
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .strategy .grid-layout .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .strategy .grid-layout .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

.strategy .left *{
    text-align: left !important;
}
.strategy .left .line{
    margin-left: 0;
}
.strategy .left .line .circle{
    left: 20%;
}
.strategy .left i{
    color: var(--yellow-color);
    margin-right: 0.5rem;
}
.strategy .right{
    margin-top: 3rem;
}
.strategy .right *{
    text-align: right !important;
}
.strategy .right .line{
    margin-right: 0;
}
.strategy .right .line .circle{
    left: 80%;
}
.strategy .right i{
    color: var(--yellow-color);
    margin-left: 0.5rem;
}
.strategy ul{
    list-style: none;
    padding: 0;
}
.strategy ul li{
    padding: 0.5rem 0;
    font-size: 1.2rem;
    word-wrap: break-word;
}
.strategy img{
    max-width: 50%;
}
/* ===================================================================== */
/* clients */
/* ===================================================================== */
.clients{
    padding: 100px;
}
.clients .grid-wrapper{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0.5rem;
}
.clients .grid-wrapper img{
    filter: grayscale(100%);
    transition: filter 0.5s ease;
}
.clients .grid-wrapper img:hover{
    filter: grayscale(0);
}

/* ===================================================================== */
/* footer */
/* ===================================================================== */
footer{
    background: var(--dark-color);
    color: #aaa;
}
footer .content{
    padding: 50px 100px 0 100px;
}
footer .title{
    text-transform: uppercase;
    margin: 2rem 0;
    font-weight: 800;
    opacity: 0.2;
    font-size: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(170, 170, 170, 0.548);
}
footer p{
    width: 80%;
}
footer .icon{
    background: #4b2f60bd;
    width:40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
}
footer .icon:hover i{
    color: white;
}

footer ul{
    list-style: none;
    padding: 0;
}
footer ul li{
    text-align: left;
    padding: 0.2rem 0;
}
footer .copy{
    padding: 1rem 0;
    margin-top: 2rem;
    background: rgb(46, 46, 46);
    display: flex;
    justify-content: center;
    align-items: center;
}


/* SUBSERVICES
=========================================================== */
section.info p.para{
    font-size: 1rem;
}
section.info p.para span{
    font-size: 3rem;
    font-weight: bold;
    line-height: 100%;
}
section.info ul{
    padding: 0 ;
    margin: 0;
    margin-top: 2rem;
    list-style: none;
}
section.info ul li{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 1rem;
}
section.info ul li i{
    margin: 5px 0.5rem 0 0;
    color: var(--yellow-color);
    font-size: 1.2rem;
}
section.info .card-wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
    margin-top: 50px;
}
section.info .card-wrapper .card{
    flex: 1;
    max-width: 500px;
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 0;
    box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.1);
}
section.info .card-wrapper .card .card-heading,
section.info .card-wrapper2 .card .card-heading{
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: capitalize;
    border-left: 5px solid #fe9f4b;
    padding-left: 10px;
}
section.info .card-wrapper2{
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
    margin-top: 50px;
}
section.info .card-wrapper2 .card{
    width: calc(50% - 2rem);
    margin: 1rem;
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 0;
    box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.1);
}
section.info .image{
    width: 90%;
    margin-left: auto;
}








/* ===================================================================== */
/* contact us page */
/* ===================================================================== */

.contacts{
    text-align: center;
    padding: 70px 100px;
}
.contacts i{
    font-size: 2rem;
    color: var(--purple-color);
    margin-bottom: 1rem;
    
}
.contacts p{
    max-width: 80%;
    margin: auto;
    font-size: 0.9rem;
}
.form{
    padding: 100px !important;
}
.form h2{
    font-weight: 800;
    margin-bottom: 2rem;
}
.form .form-group{
    margin: 0.5rem 0;
}
.form .form-group label.text-muted{
    font-weight: 500;
    color: #aaa !important;
    margin: 0;
}
.form .form-check{
    margin-top: 0.5rem;
    color: #666;
}
.form button{
    background: var(--purple-color);
    color: white;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 50px;
    margin-top: 1rem;
    cursor: pointer;
}
.form button:hover{
    background: var(--yellow-color);
    color: var(--dark-color);
}
.form
/* ===================================================================== */
/* comment lines */
/* ===================================================================== */